@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: 'BadeenDisplay';
  src: url('/fonts/BadeenDisplay-Regular.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

.mapboxgl-popup.custom-popup {
  max-width: 250px;
  font-size: 14px;
  z-index: 50;
  overflow-wrap: break-word;
}

.mapboxgl-popup-content {
  padding: 10px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 10px rgba(0,0,0,0.2);
}